body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
.h2{
    color: tomato;
    font-size: 40px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
    color: darkgoldenrod;
}
.text-color{
    color: rgb(226, 230, 22);
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.first-half img{
    width: 100%;
}
.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    height: 500px;
    bottom padding: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(179, 147, 134) ,rgb(226, 93, 69));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900px;
    
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat ;
    background-position: right;
}